/* NameBox.module.css */

/* ───────── NameBox Layout ───────── */
.NameBoxContainer {
  display: grid;
  grid-template-columns: 110px 1fr; /* Address | Formula */
  gap: 8px;
  align-items: center;
  width: 100%;
  margin-left: -15px;
  background-color: white;
}

.AddressInput {
  width: 100%;
}

.FormulaInput {
  width: 100%;
}
