.toolBarConatiner {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: #f0f4f9;
  padding: 7px 10px;
  border-radius: 10px;
}

.undoIcon {
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
}

.undoIcon:hover {
  background: #e0e7ff;
}

.redoIcon {
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
}

.redoIcon:hover {
  background: #e0e7ff;
}
