.container {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1px solid #e1e1e1;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap; /* 한 줄 강제 */
}

.focused {
  border: 2px solid rgb(26, 115, 232);
}

.editorInput {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  box-sizing: border-box;
  font: inherit;
}
