.cellView {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1px solid #e1e1e1;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap; /* 한 줄 강제 */
  font-size: 13px;
}

.focused {
  border: 2px solid rgb(26, 115, 232);
}

.editorInput {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  box-sizing: border-box;
  font-size: 13px;
}

/* 좌하단 정렬: 텍스트는 좌측 정렬 */
.alignBottomLeft {
  align-items: flex-end; /* 세로: 아래 */
  justify-content: flex-start; /* 가로: 왼쪽 */
  text-align: left;
}

/* 우하단 정렬: 텍스트는 우측 정렬 */
.alignBottomRight {
  align-items: flex-end; /* 세로: 아래 */
  justify-content: flex-end; /* 가로: 오른쪽 */
  text-align: right;
}

.error {
  color: #d93025 !important;
}
