.container {
  display: flex;
}

.colHeader {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid #c4c7c5;
}

.colResizeHandle {
  position: absolute;
  top: 0;
  right: -5px;
  width: 8px; /* 히트존 */
  height: 100%;
  cursor: col-resize;
  background: transparent;
  z-index: 10;
}
