.container {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  background-color: #ffffff;
  overflow: auto;
  /* user-select 브라우저에서 텍스트/요소가 드래그로 선택될 수 있는지를 결정하는 CSS 속성. */
  -webkit-user-select: none; /* 크롬, 사파리 호환 */
  user-select: none;
}

.corner {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1100;
  border: 0.1px solid #c4c7c5;
}

.colHeader {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.rowHeader {
  position: sticky;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
}
